@model IEnumerable<Cheese.Models.Kaas>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Aanbevolen producten</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        @foreach (var item in Model) { 
		    @if(item.Id == 3){
                   <div class="item active">
                        <a asp-action="Product" asp-route-id="@item.Id"><img src=@Html.DisplayFor(modelItem => item.Afbeelding) alt="..."/></a>
                        <div class="carousel-caption">
                            <h2 style="color:#73e64c">@Html.DisplayFor(modelItem=> item.Naam)</h2>
			    <h3 style="color:#73e64c">@Html.DisplayFor(modelItem=> item.Prijs)</h3>                        
			</div>
                    </div>
            }
                @if(item.Id == 8){
                   <div class="item">
                        <a asp-action="Product" asp-route-id="@item.Id"><img src=@Html.DisplayFor(modelItem => item.Afbeelding) alt="..."/></a>
                        <div class="carousel-caption">
                            <h2 style="color:#73e64c">@Html.DisplayFor(modelItem=> item.Naam)</h2>
			    <h3 style="color:#73e64c">@Html.DisplayFor(modelItem=> item.Prijs)</h3>
                        </div>
                    </div>
            } @if(item.Id == 9){
                   <div class="item">
                        <a asp-action="Product" asp-route-id="@item.Id"><img src=@Html.DisplayFor(modelItem => item.Afbeelding) alt="..."/></a>
                        <div class="carousel-caption">
                            <h2 style="color:#73e64c">@Html.DisplayFor(modelItem=> item.Naam)</h2>
			    <h3 style="color:#73e64c">@Html.DisplayFor(modelItem=> item.Prijs)</h3>
                        </div>
                    </div>
            }
          }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Vorige</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Volgende</span>
    </a>
</div>



<br><br>
<h1>Onder de 5 Euro</h1>
<div class="container"> 
  <div class="row"> 
      <!-- BEGIN PRODUCTS --> 
      @foreach (var item in Model) { 
		  @if(item.Prijs <= 5){
  
  
      <div class="col-md-3 col-sm-6"> 
        <span class="thumbnail"> 
            
            <a asp-action="Product" asp-route-id="@item.Id">
            <img src= @Html.DisplayFor(modelItem => item.Afbeelding) alt="...">
            <h4> @Html.DisplayFor(modelItem => item.Naam)</h4>
            </a>

            
            <div class="ratings"> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star-empty"></span> 
                </div> 
            <p></p> 
            <hr class="line"> 
            <div class="row"> 
              <div class="col-md-6 col-sm-6"> 
                 
                <p class="price"> @Html.DisplayFor(modelItem => item.Prijs),-</p>
              </div> 
              <div class="col-md-6 col-sm-6"> 
                <a asp-area="" asp-controller="Kaas" asp-action="Product" asp-route-id="@item.Id"><button class="btn btn-success right" >Winkelwagen</button></a> 
                
              </div> 
               
            </div> 
        </span> 
      </div> 
      }}
  </div>
</div>
<br>
<br>
<h1>Boven de 5 Euro</h1>
<div class="container"> 
  <div class="row"> 
      <!-- BEGIN PRODUCTS --> 
      @foreach (var item in Model) { 
		  @if(item.Prijs >= 6){
  
      <div class="col-md-3 col-sm-6"> 
        <span class="thumbnail"> 
            
            <a asp-action="Product" asp-route-id="@item.Id">
            <img src= @Html.DisplayFor(modelItem => item.Afbeelding) alt="...">
            <h4> @Html.DisplayFor(modelItem => item.Naam)</h4>
            </a>

            
            <div class="ratings"> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star-empty"></span> 
                </div> 
            <p></p> 
            <hr class="line"> 
            <div class="row"> 
              <div class="col-md-6 col-sm-6"> 
                 
                <p class="price"> @Html.DisplayFor(modelItem => item.Prijs),-</p>
              </div> 
              <div class="col-md-6 col-sm-6"> 
                <a asp-area="" asp-controller="Kaas" asp-action="Winkelwagen"><button class="btn btn-success right" >Winkelwagen</button></a> 
                
              </div> 
               
            </div> 
        </span> 
      </div> 
      }}
  </div>
</div>
