@model IEnumerable<Cheese.Models.Kaas>
<!--
@{
    ViewData["Title"] = "Kaas";
}

<h2>Winkelwagen</h2>

<table class ="table">
    <form asp-action="Winkelwagen">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aantal);
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                if(item.Winkelwagen){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.Aantal)
                            <select name = "Aantal" id = "Aantal">
                            <option value = 1>1</option>
                            <option value = 2>2</option>
                            <option value = 3>3</option>
                            <option value = 4>4</option>
                            <option value = 5>5</option>
                            
                        </select>
                        <div class="from-group">
                            <input type="submit" value="Gay" class="btn btn-default" />   
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                </tr>
            }else{}}
        </tbody>
    </form>
</table> -->

@{
    ViewData["Title"] = "Winkelwagen";
}

<h2>Winkelwagen</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aantal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs) per stuk
                </th>
                <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
<script>
    var totaal = 0;
</script>
@foreach (var item in Model) {
    if(item.Winkelwagen == true){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @(item.Prijs * item.Aantal)
                <p id="hoi"></p>
                <script>
                    totaal += '@Html.Raw(item.Prijs)' * '@Html.Raw(item.Aantal)';
                </script>
            </td>
            <td>
                <a asp-action="Product" asp-route-id="@item.Id">Aantal aanpassen</a><br>
                <a asp-action="Verwijderen" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}}
        <tr>
            <td></td>
            <td></td>
            <td>
                <b>Totaalprijs</b>
            </td>
            <td>
                <b id="Totaalprijs"></b>
                <script>
                    document.getElementById("Totaalprijs").innerHTML=totaal;
                </script>
            </td>
            <td></td>
        </tr>
        
        
    </tbody>
</table>