@model IEnumerable<Cheese.Models.Kaas>
<!--
@{
    ViewData["Title"] = "Kaas";
}

<h2>Winkelwagen</h2>

<table class ="table">
    <form asp-action="Winkelwagen">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aantal);
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                if(item.Winkelwagen){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.Aantal)
                            <select name = "Aantal" id = "Aantal">
                            <option value = 1>1</option>
                            <option value = 2>2</option>
                            <option value = 3>3</option>
                            <option value = 4>4</option>
                            <option value = 5>5</option>
                            
                        </select>
                        <div class="from-group">
                            <input type="submit" value="Gay" class="btn btn-default" />   
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                </tr>
            }else{}}
        </tbody>
    </form>
</table> -->

@{
    ViewData["Title"] = "Winkelwagen";
}

@{float totaal = 0; }

@{foreach (var Item in Model)
    {
        totaal = totaal + Item.Prijs*Item.Aantal;
    }
}

<h2>Winkelwagen</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aantal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs) per stuk
                </th>
                <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if(item.Winkelwagen == true){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @(item.Prijs * item.Aantal)
            </td>
            <td>
                <a asp-action="Product" asp-route-id="@item.Id">Aantal aanpassen</a><br>
                <a asp-action="Verwijderen" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}}
        <tr>
            <td></td>
            <td></td>
            <td>
                <b>Totaalprijs</b>
            </td>
            <td>
                <b>@totaal</b>
            </td>
            <td></td>
        </tr>
        
        
    </tbody>
</table>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="cheesewitheasepayments@gmail.com">
<input type="hidden" name="item_name_1" value="Uw Producten">
<input type="hidden" name="amount_1" value="@totaal">
<input type="hidden" name="currency_code" value="EUR">
<input type="submit" value="Betalen met PayPal">
</form>