@model Cheese.Models.Kaas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kaas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Melksoort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Melksoort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biologisch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biologisch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kaassoort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kaassoort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Eetbarekorst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eetbarekorst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Afkomst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Afkomst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Afbeelding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Afbeelding)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Gegevens Wijzigen
        </a> |
    <a asp-action="Index">Back to List</a>
</div>
