@model Cheese.Models.Kaas

@{
    ViewData["Title"] = "Product";
}

<h2>Productinformatie</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
             
            <dd>
                <h3>@Html.DisplayFor(model => model.Naam)</h3>
            </dd>
        
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img src=@Html.DisplayFor(model => model.Afbeelding) alt="...">
                </div>
        <div class="media-body">
                <h4 class="media-heading"></h4>
                <dt>
                    @Html.DisplayNameFor(model => model.Merk)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Merk)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Melksoort)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Melksoort)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Vet)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vet)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Biologisch)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Biologisch)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Kaassoort)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Kaassoort)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Eetbarekorst)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Eetbarekorst)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Afkomst)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Afkomst)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Prijs)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prijs)
                </dd>
                <a asp-area="" asp-controller="Home" asp-action="Winkelwagen"> <span class="glyphicon glyphicon-shopping-cart" style="font-size:20px"></span></a>


    </div>
</div>